<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Created</title>
    <link rel="stylesheet" href="css/AccountCreated.css"> <!-- Link to your existing CSS -->
</head>
<body>

<div class="success-container">
    <div class="success-box">
        <h1>Account Successfully Created</h1>
        <h2>Welcome to Reptile, <span id="user-name">name</span></h2>
        <h2>Please login here</h2>
        <button id="login-button" onclick="window.location.href='/loginPage'">Login</button> <!-- Link to your login page -->
    </div>
</div>

</body>
</html>
